<!DOCTYPE html>
<html>
        <title>Illumiel</title>
        <link rel="stylesheet" href="style.css">

        <style>
            
            section {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                background-size: cover; /* Add this line */
                background-position: center center; /* Add this line */
                background-repeat: no-repeat; /* Add this line */
                background-attachment: fixed; /* Add this line */
            }

            #hero h1 {
                font-size: 3em;
            }

            /* Add everything below here */

            h1 {
                text-outline: 2px solid #000;
                text-shadow: 1px 1px 2px #000;
            }

            #hero {
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(255, 247, 237);
                background-image: url('https://www.tastingtable.com/img/gallery/20-different-types-of-coffee-explained/l-intro-1659544996.jpg');
            }

            .btn {
                font-style: italic;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(255, 247, 237);
                text-decoration: none;
            }

        </style>

<body>

<section id="hero">
    <div class="hero">

        <h1><b>Welcome to Brew & Beans: <br> A Blend of Perfection</b></h1>
        
        <a type="button" href="/login" class="btn btn-link btn-lg btn-block">Login</a>
        <br>
        <a type="button" href="/register" class="btn btn-link btn-lg btn-block">Register</a>
        
    </div>
</section>

</body>
</html>
